*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/*
R - red
G - green
B - blue
*/
.box{
    width: 300px;
    height: 300px;
    border: 1px solid red;
    margin: auto;
    background: grey;

    transform: translateY(50px);

    background: aqua;
    background: rgb(50, 49, 70);
    background: rgba(250, 0, 0, 0,5);
    /* HEX code */
    background: #329900;
    background: #0000ff;

    background: #ff000044;
    background: #f009;
}
.banner{
    width: 100%;
    height: 400px;
    background: #ddd;
    background: linear-gradient( 70deg,red,#00f,yellow,pink);
}
.rect{
    width: 100%;
    height: 450px;
    background: #ddd;
    margin: 30px 0;
    background-image: radial-gradient(circle, #fff, dodgerblue, blue);
}
.conic{
    width: 400px;
    height: 400px;
    background: #ddd;
    margin: auto;
    border-radius: 50%;
    background: conic-gradient(#fff, #0a0);
    transition: 2s linear;
}
.conic:hover{
    transform: rotate(360deg);
}